[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
nltk = "*"
gensim = "*"
pyldavis = "*"
ipython = "*"
jupyterlab = "*"
python-dotenv = "*"
pandas = "*"
google-cloud-storage = "*"
google-api-python-client = "*"

[dev-packages]

[requires]
python_version = "3.6"
